:root {
    --blue: rgb(26, 120, 228, 0.5);
    --background: rgb(191, 216, 216);
    --Font-Color:aliceblue
}
/* Tags  */
body {
    width: 100%;
}
main {
    background-color: var(--background);
}

nav {
    position: fixed;
    top: 0;
    right: 10px;
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--blue);
    padding: 10px;
}

nav ul {
    background-color: var(--aqua);
    position:relative;
    right: 50px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    position: relative;
    float: right;
    right: 50px;
    color: var(--Font-Color);
    margin:0 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    padding: 5px;
}

header {
    background-color: var(--background);
}

header img {
    width: 1000px;
    height: 500px;
    margin-left: 25%;
}

figure {
    background-image:url(https://images.wallpaperscraft.com/image/single/beach_ocean_aerial_view_149650_2560x1440.jpg);
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center;
    position: static;
    margin: 0%;
}

figure img {
    max-height: 400px;
    max-width: 400px;
    position: static;
    border-radius: 100%;
    margin: 3% 0 0 40%;
}
/* ID's  */
#About-Me {
    max-width: 500px;
    position: static;
    bottom: 200px;
    margin:2% 0 4% 40%;
    background: rgba(255,255,255,0.0);
    color: var(--Font-Color);
}

#About-Me h2 {
    text-align: left;
    font-weight:400;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--Font-Color);  
}

#About-Me p {
    max-width: 400px;
    margin-top: 2%;
    font-size: 20px;
    color: var(--Font-Color); 
    font-family: sans-serif; 
}

#My-Work {
   position: static;
}

#My-Work h2 {
    text-align: center;
    font-weight:400;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--Font-Color);
    margin: 1% 0 3% 0%;
}

#My-Work h3 {
    padding: 1rem;
    font-size: 30px;
    font-family:serif;
    text-align: center;
    color: var(--Font-Color)
}

#My-Work div {
    float:left;
    width:33.33%;
}

#My-Work div img {
    border-radius: 10%;
} 

#My-Work div img:hover {
    border: 10px groove var(--blue);
    
}

#Contact-Info {
    position: static;
    display: grid;
    padding: 2%;
    width: 100%;
    bottom: 100px;
}

#Contact-Info h2 {
    padding: 1rem;
    font-size: 30px;
    font-family:serif;
    text-align: center;
    color: var(--Font-Color)
}

#Contact-Info ul{
    list-style: inside;
    text-align: center;
}

#Contact-Info ul li{
    font-size: 20px;
    color: var(--Font-Color); 
    font-family: sans-serif;   
}

footer {
    Padding: 1%;
    width: 100%;
    text-align: center;
}
/* Classes  */
.first {
    width: 500px;
    height: 500px;
    position: static;
    margin-left: 10%;
}

.second {
    width: 400px;
    height: 400px;
    position: static;
    margin-left: 20%;
}
/* Media Querys  */

@media screen and (max-width: 1424px) {
    #My-Work div {
        width: 33.33%;
        display:grid;
        flex-wrap: wrap;
        flex-direction: column;
    }

    header img {
        width: 650px;
        height: 325px;
        margin-left: 30%;
    }
    figure img {
        max-height: 450px;
        max-width: 450px;
        position: static;
        border-radius: 100%;
        margin: 3% 0 0 35%;
    }
    #About-Me {
    max-width: 500px;
    position: static;
    bottom: 200px;
    margin:2% 0 4% 35%;
    background: rgba(255,255,255,0.0);
    color: var(--Font-Color);
    }

    .first {
        width: 400px;
        height: 400px;
        position: static;
        margin-left: 10%;
    }
    
    .second {
        width: 350px;
        height: 350px;
        position: static;
        margin-left: 20%;
    }
} 

@media screen and (max-width: 1139px) {
    #My-Work div {
        width: 33.33%;
        display:grid;
        flex-wrap: wrap;
        flex-direction: column;
    }

    header img {
        width: 650px;
        height: 325px;
        margin-left: 30%;
    }
    figure img {
        max-height: 450px;
        max-width: 450px;
        position: static;
        border-radius: 100%;
        margin: 3% 0 0 35%;
    }
    #About-Me {
    max-width: 500px;
    position: static;
    bottom: 200px;
    margin:2% 0 4% 35%;
    background: rgba(255,255,255,0.0);
    color: var(--Font-Color);
    }

    .first {
        width: 370px;
        height: 370px;
        position: static;
        margin-left: 10%;
    }
    
    .second {
        width: 320px;
        height: 320px;
        position: static;
        margin-left: 20%;
    }
} 

@media screen and (max-width: 992px) {
    #My-Work div {
        width: 50%;
        display:grid;
        flex-wrap: wrap;
        flex-direction: column;
    }

    header img {
        width: 600px;
        height: 300px;
        margin-left: 20%;
    }
    figure img {
        max-height: 400px;
        max-width: 400px;
        position: static;
        border-radius: 100%;
        margin: 3% 0 0 25%;
    }
    #About-Me {
    max-width: 500px;
    position: static;
    bottom: 200px;
    margin:2% 0 4% 25%;
    background: rgba(255,255,255,0.0);
    color: var(--Font-Color);
    }

    .first {
        width: 350px;
        height: 350px;
        position: static;
        margin-left: 10%;
    }
    
    .second {
        width: 350px;
        height: 350px;
        position: static;
        margin-left: 10%;
    }
} 

@media screen and (max-width: 768px) {
    #My-Work div {
        width: 100%;
        display: grid;
    }
    header img {
        width: 400px;
        height: 200px;
        margin-left: 20%;
    }
    figure img {
        max-height: 400px;
        max-width: 400px;
        position: static;
        border-radius: 100%;
        margin: 3% 0 0 20%;
    }
    #About-Me {
        max-width: 500px;
        position: static;
        bottom: 200px;
        margin:2% 0 4% 20%;
        background: rgba(255,255,255,0.0);
        color: var(--Font-Color);
    }
    .first {
        width: 500px;
        height: 500px;
        position: static;
        margin-left: 15%;
    }
    
    .second {
        width: 500px;
        height: 500px;
        position: static;
        margin-left: 15%;
    }
}

@media screen and (max-width: 414px) {
    nav {
        position: fixed;
        top: 0;
        right: 5px;
        width: 100%;
        margin-bottom: 10px;
        background-color: var(--blue);
        padding: 7px;
    }
    
    nav ul {
        background-color: var(--aqua);
        position:relative;
        left: 45px;
    }
    
    nav ul li {
        display: inline;
    }
    
    nav ul li a {
        position: relative;
        float: right;
        right: 50px;
        color: var(--Font-Color);
        margin:0 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: bolder;
        padding: 5px;
        text-align: center;
    }
    #My-Work div {
        width: 100%;
        display: grid;
    }
    header img {
        width: 350px;
        height: 175px;
        margin-left: 5%;
    }
    figure img {
        max-height: 350px;
        max-width: 350px;
        position: static;
        border-radius: 100%;
        margin: 3% 0 0 5%;
    }
    #About-Me {
        max-width: 500px;
        position: static;
        bottom: 200px;
        margin:2% 0 4% 5%;
        background: rgba(255,255,255,0.0);
        color: var(--Font-Color);
    }
    .first {
        width: 350px;
        height: 350px;
        position: static;
        margin-left: 5%;
    }
    
    .second {
        width: 350px;
        height: 350px;
        position: static;
        margin-left: 5%;
    }
}


